# Ignorar todos los entornos virtuales llamados "venv" en cualquier subcarpeta
**/venv/

# Ignorar archivos y carpetas de caché de Python
__pycache__/
*.py[cod]
*.pyo

# Ignorar archivos temporales del sistema operativo
.DS_Store
Thumbs.db

# Ignorar archivos de logs u otras salidas temporales
*.log

# Ignorar archivos de bases de datos locales
*.sqlite3

# Ignorar archivos de configuración de entorno o secretos
.env
*.env

# Ignorar archivos creados por editores
.vscode/
.idea/
*.swp

# Carpetas
test_project/
